.parrafos{
  font-family: sans-serif;
  color: black;
  margin: 0px 0px 0px 0px;
  text-align: center;
  }
h1
{
  font-family: cursive;
  color: white;
  text-align: center;
}
body{
  margin: 0px 0px 0px 0px;
}
.fondo{
  background-image: url("../img/noot.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.borde {
  border: 1px #000 solid;
  margin: 3spx;
}
.cuadros{
  text-align: center;
  background-color: orange;
  height: 30px;
}
.form{
  margin:20px;
  padding: 20px;
}
a{
  font-family: 'Pacifico', cursive;
}
.pruebapadding{
  padding:40px 0px 40px 0px;
  text-align: center;
}
.cuda{
  width: auto;
  height: 50vh;
}
.cuda1{
  width: auto;
  height: 30vh;
}
.backfot
{
  padding: 20px;
  background-color: #e6e6e6;
}
.margin0{
    margin: 0px;
}
.header{
  background-color: blue;
  color: blue;
  margin:0px;
}
p{
  margin:0px;
}
.headerbloc{
  background-color: black;
  color: black;
  margin:0px;
}
